extends layout

block content
    h1= title
    form#formAddHello(name="addhello",method="post",action="/hello/add")
        input#inputHelloGreeting(type="text", placeholder="greeting", name="hellogreeting")
        input#inputHelloRecipient(type="text", placeholder="recipient", name="hellorecipient")
        button#btnSubmit(type="submit") add