extends ../layout

block content
  h1= title
  form#formAddRecipe(action='/recipe/add', method='post')
    .control-group
      label.control-label(for='message_name') Your Name
      .controls
        input#message_name.input-xxlarge(type='text', placeholder='Name', name='message[name]')
    .control-group
      label.control-label(for='message_email') Email
      .controls
        input#message_email.input-xxlarge(type='text', placeholder='Email', name='message[email]')
    .control-group
      label.control-label(for='message_message') Message
      .controls
        textarea#message_message.input-xxlarge(placeholder='Enter message', rows='6', name='message[message]')
    button.btn(type='submit') Send Message
