extends ../layout

block content
  h1.
    Recipe List
  ul
    each recipe, i in recipelist
      li
        span #{recipe.recipe.title} (#{recipe.recipe.time_required} minutes) 
          a(href="/recipe/del/" + recipe._id.toHexString()) del
          |
          a(href="/recipe/edit/" + recipe._id.toHexString()) edit
  a(href="/recipe/new") new recipe